body{
  text-align: center;
  background-color: #222;
}

h1{
  color:rgb(3, 87, 143)
}

#btn{
  width:100px;
  height:50px;
  font-size:20px;
  border:1px solid=#FF3333;
  background-color:blueviolet;
  color:beige;
}

#result{
  background-color:bisque;
  margin:20px;
  padding:20px;
  border-radius: 10px;
}

#frame{
  background-color: white;
  width:370px;
  margin:auto;
  padding:30px;
  border-radius: 30px;
  margin-top:30;
}