body {
  background-color:rgba(255, 200, 0, 0.9);
}

h1{
  color: rgb(57, 57, 221);
}

.btn {
  width: 200px;
  height:70px;
  margin:20px;
  text-align: center;
  line-height: 70px;
  border-radius: 50px;
  border:10px ridge rgba(0, 0, 0,10);
  background-color:linen;
  font-size: 20px;
}
a{
  text-decoration:none;
}
.btn:hover{
  background-color:goldenrod;
  color:black;
  font-size: 20px;
  font-weight:bolder;
}

